<!--

    Name: Jezreelson Sobremonte
    Course: WEBD-3008 (248294)
    Instructor: Jonathan Boisvert
    Challenge 6


   Alphabetized Customer Views
-->

<div class="navigation-links">

  <%= link_to 'All Customers', root_path %>
  <%= link_to 'Customers Missing Email', customers_missing_email_path %>

</div>

<% @customers.each do |customer| %>
  <%= render 'customer', customer: customer %>
<% end %>
